<h1 style="text-align:center;">Outgoings</h1>
<h3>New entry :</h3>
<input type="date" [(ngModel)]="date" name="date" placeholder="24/12/2015">
<input type="text" [(ngModel)]="desc" name="desc" placeholder="Ballon">
<input type="number" [(ngModel)]="amount" name="amount" placeholder="-10">
<input type="text" [(ngModel)]="type" name="type" placeholder="Loisirs">
<input type="submit" (click)="submit()" value="Submit">
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Desc</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transfer of myArray">
            <td>{{transfer.date}}</td>
            <td>{{transfer.desc}}</td>
            <td>{{transfer.amount}}</td>
            <td>{{transfer.type}}</td>
        </tr>
    </tbody>
</table>